<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Practice Vue.js</title>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="index.js" defer></script>
  <style>
    .disabled {
      color: darkgrey;
      transition: color 1s ease;
    }
    .purple {
      color: purple;
      transition: 2s ease;
    }
    .blue {
      color: blue;
      transition: color 3s ease;
    }
   
  </style>
</head>

<body>
  <h1>Hello from HTML!</h1>
  <div id="app">
    <h1>{{ message }}</h1>
    <h1>{{ hello }}</h1>
    <div>
      <button v-on:click="changeMessage()">Click Me </button>
      <input type="text" v-model.trim.lazy="hello">
      <!-- <p> {{ hello }}</p> -->

      <!-- <li v-for="purple_hippo in greetings">
        {{purple_hippo.greeting}}
       </li> -->

      <!-- <li> VS <div> -->
        
      <div v-for="purple_hippo in greetings">
        <p>{{purple_hippo.greeting}}</p>
      </div>
      <p>_____________________________________________</p>
      <div v-for="fruit in fruits">
        <p> {{fruit}}</p>
      </div>
        <input type="text" v-model="newFruit">
        <button v-on:click="addNewFruit"> Add a Fruit</button>
      </div>
      <p>_____________________________________________</p>
      <div>
        <button v-on:click="showGreeting = !showGreeting">Toggle</button>
        <!-- <h3 v-if="showGreeting">Happy Friday!!!!</h3> -->
        <h3 v-bind:class="{disabled: showGreeting}">Happy Friday!!!!</h3>
      </div>
      <p>_____________________________________________</p>

      <div>
        <input type="checkbox" v-on:click="showGreeting_2 = !showGreeting_2" > Click Me! </input>
        <p v-bind:class="{purple: showGreeting_2}">It is almost the weekend!!!!!!!!!!</p>
        <h2 v-bind:class="{blue: showGreeting_2}">It is almost the weekend!!!!!!!!!!</h2>
      </div>

  </div>
 

</body>

</html>




